// Palette

$black:       black;
$dark-grey:   #333333;
$grey:        grey;
$light-grey:  #f8f8f8;
$white:       white;

$orange:      #f4a726;
$red:         #f37b65;

// Components
// Notes: Only palette color references below.
// All other scss files should only reference 
// the component color variables below (not css colors 
// directly or the color variables above)

$warning:             $orange;
$critical:            $red;

$table-header-bg:     $dark-grey;
$table-header:        $white;
$table-row-bg:        $white;
$table-row-alt-bg:    $light-grey;
$table-row:           $black;
$table-row-secondary: $dark-grey;
$table-row-hr:        $light-grey;
$table-row-hr-alt:    $grey;

$expander:            $dark-grey;