html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.table {

  thead {
    background-color: $table-header-bg;
    color: $table-header;
    tr > th {
      font-weight: normal;
      border: none;
    }

    th {
      &.path {
        width: 250px;
      }
      &.method, &.status {
        width: 75px;
      }
      &.timestamp {
        width: 100px;
      }
    }
  }

  tbody > tr {
    border: solid transparent 2px;

    & > td {
      border: none;
    }

    &.light {
      background-color: $table-row-bg;
    }

    &.dark {
      background-color: $table-row-alt-bg;
    }

    &.request {
      cursor: pointer;

      &:hover, &.active > td {
        background-color: $table-row-hover;
      }
    }
  }

  tbody > tr > td.method {
    text-transform: uppercase;
  }

}
