.payload {
    margin-left : 50px;
}
.requestId {
    text-decoration: underline;
}
.checkboxesWrapper {
    position: fixed;
    top: 150px;
    right: 1px;
}
#textPage {
    margin: 10px 30px 0 30px;
}
#sessionWrapper {
    margin: 30px 0 20px 0px;
}
#sessionWrapperRuler {
    margin: 0 0 20px 0;
}
.columnName {
    font-weight: 100;
}