.server-logs {
    font-size: 1.5rem;
    color: $secondary-font-color;
    padding: 15px 0;

    .server-log {
        .data {
            cursor: pointer;

            ul {
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;

                height: 16px;
                margin: 0;
                padding: 0 10px 0 32px;

                font-family: monospace, serif;
                list-style: none;
                white-space: nowrap;
            }

            ul:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 16px;

                display: block;
                border: 4px solid transparent;
                border-left: 6px solid #666;
            }

            li {
                overflow: hidden;
                text-overflow: ellipsis;

                display: inline;
                vertical-align: top;
                white-space: nowrap;
            }

            li:before {
                content: ', ';
            }

            li:first-child:before {
                content: '';
            }
        }
    }
}

.json-markup {
    line-height: 21px;
    font-size: 13px;
    font-family: monospace;
    width: auto !important;

    &.expanded {
        white-space: pre-wrap;
    }

    &:not(.expanded) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.json-markup-key {
    font-weight: bold;
}

.json-markup-bool {
    color: $json-markup-boolean;
}

.json-markup-string {
    color: $json-markup-string;
}

.json-markup-null {
    color: $json-markup-null;
}

.json-markup-number {
    color: $json-markup-number;
}
