.feed {
    .expander {
        padding-right: 9px;
        font-size: 1.2rem;
    }

    .header > div, .request-details > div {
        padding-top: 8px;
        padding-bottom: 8px;
        @extend .truncate;
    }

    .header {
        color: $toolbar;

        .expander {
            color: $table-header-icon-disabled;
            cursor: pointer;
        }

        .expander.expanded {
            color: $table-header-icon;
            @include rotate(90deg);
            padding: 4px 3px 1px 6px;
        }

        .expander {
            &:hover {
                color: $table-header;
            }

            &:not(.expanded), &:not(.expanded):hover {
                color: $table-header-icon-disabled;
                cursor: default;
                @include rotate(0deg);
            }
        }

        div {
            background-color: $table-header-bg;
            color: $table-header;
        }

        .favorite {
            margin-right: -1px;

            &.enabled {
                color: $table-header-icon;
                cursor: pointer;

                &:hover {
                    color: $favorite;
                }
            }

            &.active {
                cursor: pointer;
                color: $favorite;
            }
        }
    }
}

.favorite {
    font-size: 1.8rem;
    float: right;

    .background {
        font-size: 1.9rem;
        margin-right: -22px;
        top: 3px;
    }

    .foreground {
        font-size: 1.5rem;
    }

    .background:hover {
        color: grey;
    }

    &.empty {
        color: $table-header-icon-disabled;
        cursor: default;
    }
}


.favorite:hover, .favorite.active {
    .foreground {
        color: $favorite;
    }

    .background {
        color: grey;
    }
}
