<button type="button" data-channel="*" class="all {{#isEq '*' channel}}active{{/isEq}}">All Traffic</button>
<button type="button" data-channel="{{clientId}}" class="client-id {{#isEq clientId channel}}active{{/isEq}}">Your Traffic '<span class="client-id">{{clientId}}</span>'</button>
