<div class="col-xs-8 path">
    <span class="expander glyphicon glyphicon-play"></span>
    Path
</div>
<div class="col-xs-1 method">Method</div>
<div class="col-xs-1 status">Status</div>
<div class="col-xs-2 timestamp">
    <span class="favorite glyphicon glyphicon-star empty"></span>
    <span class="column-label">Timestamp</span>
</div>
