<div class="header row">
    <div class="col-xs-8 path">Path</div>
    <div class="col-xs-1 method">Method</div>
    <div class="col-xs-1 status">Status</div>
    <div class="col-xs-2 timestamp">Timestamp</div>
</div>
<div class="body requests"></div>
