<input class="search" placeholder="Search"/>
<button class="clear">clear</button>
<button class="pause">pause</button>
<button class="resume">resume</button>
<div class="channel-selector-container"></div>
<p class="settings">Settings</p>
