{{#each .}}
    <div class="server-log row">
        <div class="col-xs-3 tags">
            {{#each tags}}
                <span>{{.}}</span>
            {{/each}}
        </div>
        <div class="col-xs-7 data">{{{jsonMarkup data}}}</div>
        <div class="col-xs-2 timestamp">{{longTime timestamp}}</div>
    </div>
{{/each}}
