<span class="search-icon glyphicon glyphicon-search"></span>
<input class="search">
<button class="pause-resume">
    <div class="pause">
        <div class="icon glyphicon glyphicon-pause"></div>
        Pause
    </div>
    <div class="resume hidden">
        <div class="icon glyphicon glyphicon-play"></div>
        Resume
    </div>
</button>
<button class="clear">
    <div class="icon glyphicon glyphicon-trash"></div>
    Clear
</button>
<span class="settings glyphicon glyphicon-cog"></span>
<span class="channel-selector-container button-group"></span>
